/* Inline */
/* - Elemen HTML yang secara default tidak menambahkan garis baru ketika dibuat */
/* - Lebar dan tinggi elemennya sebesar konten yang ada didalamnya */
/* - Tidak dapat mengatur tinggi dan lebar dari elemen inline */
/* - Margin dan Padding hanya mempengaruhi elemen secara horizontal, tidak vertikal */

/* Inline-block */
/* - Tidak ada elemen yang secara default memiliki properti display: inline-block; */
/* - Harus diubah secara manual properti tersebut */
/* - Perilaku dasarnya sama dengan elemen inline */
/* - Perbedaanya, elemen inline-block dapat kita atur tinggi dan lebarnya */

/* Block */
/* - Elemen HTML yang secara default menambahkan garis baru ketika dibuat */
/* - Jika tidak diatur lebarnya, maka lebar default dari elemen block akan memenuhi lebar dari browser/parentnya */
/* - Dapat mengatur tinggi dan lebar dari elemen block */
/* - Didalam elemen block, kita dapat menyimpan tag dengan elemen inline, inline-block, atau bahkan elemen block lagi */

/* None */
/* - Digunakan untuk menghilangkan sebuah elemen */

.navigasi li {
  display: inline;
}

img {
  display: none;
}

span {
  color: red;
}
